/* Base Style */
.m-bellows {
    padding-left: 0px;
    color: black;
}
.m-bellows .m-header {
    height: 54px;
    line-height: 52px;
    padding: 0 20px;
    border: solid 1px #ededed;
    border-width: 1px 0;
    position: relative;
    cursor: pointer;
    z-index: 5;
}

.header3{
    background: #4FB755;
}

    .header3:hover{
        background:#5DD760;
    }

#M3 div {
    background: #9EEC9E;
}

.header4{
    background: #D37441;
}

    .header4:hover{
        background:#E38746;
    }

#M4 div {
    background: #E9AF90;
}

.header5{
    background: #2AA1D7;
}

    .header5:hover{
        background:#2AC1F7;
    }

#M5 div {
    background: #83CCEB;
}

.header6{
    background: rgba(190, 65, 65, 1);
}

    .header6:hover{
        background:rgba(200, 72, 72, 1);
    }

#M6 div {
    background: rgba(230, 210, 210, 1);
}

.area3{
    background: linear-gradient(to bottom, #226765 0%, #134543 100%);
}
.today.area3 {
    background: #309D37;
}

.area4{
    background: linear-gradient(to bottom, #238019 0%, rgba(19, 75, 13, 1) 100%);
}
.today.area4 {
    background: #B45522;
}

.area5{
    background: linear-gradient(to bottom, #303D74 0%, #26305d 100%);
}
.today.area5 {
    background: #0892CE;
}

.area3-current{
    background: #5DD760;
}

.area4-current{
    background: #E38746;
}

.area5-current{
    background: #4EB4DF;
}
.area6-current{
    background: rgba(230, 83, 83, 1);
}

#M3 ul.sub-menu li a:hover span{
background: #6DE770;}

#M4 ul.sub-menu li a:hover span{
background: #F39756}

#M5 ul.sub-menu li a:hover span{
background: #5EC4EF;}

#M6 ul.sub-menu li a:hover span{
background: rgba(210, 77, 77, 1);}
    
    .m-bellows .m-item:first-child .m-header {
        -webkit-border-top-left-radius: 9px;
        -webkit-border-top-right-radius: 9px;
        -moz-border-radius-topleft: 9px;
        -moz-border-radius-topright: 9px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }
    .m-bellows .m-item:last-child .m-header, .m-bellows .m-active:last-child .m-inner-content {
        -webkit-border-bottom-left-radius: 9px;
        -webkit-border-bottom-right-radius: 9px;
        -moz-border-radius-bottomleft: 9px;
        -moz-border-radius-bottomright: 9px;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }
    .m-bellows .m-active:last-child .m-header {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
.m-bellows .m-header a {
    color: black;
    white-space:nowrap;
}
.m-bellows .m-inner-content {
    padding: 0px 10px 15px;
    background: #ddf;
}
.m-bellows .m-inner-content ul li {
    margin-bottom: 5px;
}
.m-bellows h2 {
    margin: 0;
    color: black;
    text-shadow: none;
}
.m-bellows h3 {
    font-size: 15px;
    font-weight: bolder;
}


/* Accordion with Images */
.m-indicators-images .m-header:after {
    content : "";
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -11px;
    z-index: 4;
    width: 22px;
    height: 22px;
    background: url(../img/bellows.png) 0 -20px no-repeat;
}
    .m-indicators-images .m-active .m-header:after {
        background-position: 0 -43px;
    }
/* -- Retina version -- */
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .m-indicators-images .m-header:after {
        background-position: -11px 0;
        background-size: 33px 43px;
    }
    .m-indicators-images .m-active .m-header:after {
        background-position: -11px -22px;
    }
}



/* Accordion with CSS arrow indicators */
.m-arrows .m-active .m-header:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #f6f6f6;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
    z-index: 9;
}
    .m-arrows .m-active .m-header:hover:after {
        border-top-color: #e6e6e6;
    }

/* Accordion with CSS indicators */
.m-indicators-css .m-header:after {
    content : "+";
    color: #999;
    text-shadow: #fff 0 1px 0;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -13px;
    z-index: 9;
    font-size: 26px;
    line-height: 22px;
    font-weight: bold;
}
    .m-indicators-css .m-active .m-header:after {
        content: "\2212"; /* Unicode minus sign */
    }



/* Accordion with advanced CSS indicators */
.m-css-advanced .m-header:after {
    color: rgba(255,255,255,0.9);
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    background: #c5c5c5; /* Old browsers */
    background: -moz-linear-gradient(top,  #c5c5c5 0%, #acacac 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5c5c5), color-stop(100%,#acacac)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c5c5c5 0%,#acacac 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c5c5c5 0%,#acacac 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c5c5c5 0%,#acacac 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c5c5c5 0%,#acacac 100%); /* W3C */
    font-size: 22px;
    line-height: 16px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: #fff 0 1px 0;
    -moz-box-shadow: #fff 0 1px 0;
    box-shadow: #fff 0 1px 0;
}
.m-css-advanced .m-header:hover:after {
    color: #fff;
    background: #b4b4b4; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4b4b4 0%, #a3a3a3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4b4b4), color-stop(100%,#a3a3a3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4b4b4 0%,#a3a3a3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4b4b4 0%,#a3a3a3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4b4b4 0%,#a3a3a3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b4b4b4 0%,#a3a3a3 100%); /* W3C */
}
.m-css-advanced .m-active .m-header:after {
    background: #8a8a8a; /* Old browsers */
    background: -moz-linear-gradient(top,  #8a8a8a 0%, #a3a3a3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(100%,#a3a3a3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8a8a8a 0%,#a3a3a3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8a8a8a 0%,#a3a3a3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8a8a8a 0%,#a3a3a3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8a8a8a 0%,#a3a3a3 100%); /* W3C */
    -webkit-box-shadow: #fff 0 -1px 0;
    -moz-box-shadow: #fff 0 -1px 0;
    box-shadow: #fff 0 -1px 0;
}
